name: CI-CD Mini Project

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

env:
  AWS_REGION: us-east-1

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      # ---------- Backend: Maven ----------
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'

      - name: Backend - Maven build & tests
        working-directory: webapp/backend
        run: mvn -B clean test package

      # ---------- Frontend: Angular ----------
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Frontend - Install dependencies
        working-directory: webapp/frontend
        run: npm ci

      - name: Frontend - Build Angular
        working-directory: webapp/frontend
        run: npm run build -- --configuration production

  deploy-infra:
    runs-on: ubuntu-latest
    needs: build-test
    environment: production

    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      # ---------- Deploy networking ----------
      - name: Deploy networking stack
        uses: aws-actions/aws-cloudformation-github-deploy@v1
        with:
          name: mini-ci-cd-networking
          template: CloudFormation/networking.yaml
          no-fail-on-empty-changeset: "true"

      # ---------- Deploy security ----------
      - name: Deploy security stack
        uses: aws-actions/aws-cloudformation-github-deploy@v1
        with:
          name: mini-ci-cd-security
          template: CloudFormation/security.yaml
          no-fail-on-empty-changeset: "true"

      # ---------- Deploy EC2 ----------
      - name: Deploy ec2 stack
        uses: aws-actions/aws-cloudformation-github-deploy@v1
        with:
          name: mini-ci-cd-ec2
          template: CloudFormation/ec2.yaml
          no-fail-on-empty-changeset: "true"
          parameter-overrides: |
            WebAmiId=ami-0fa3fe0fa7920f68e
            DbAmiId=ami-0fa3fe0fa7920f68e
            InstanceType=t3.micro
            KeyName=key-pair
            WebElasticIpAllocationId=eipalloc-07db1ed84c4491d56

      # ---------- Deploy monitoring ----------
      - name: Deploy monitoring stack
        uses: aws-actions/aws-cloudformation-github-deploy@v1
        with:
          name: mini-ci-cd-monitoring
          template: CloudFormation/monitoring.yaml
          no-fail-on-empty-changeset: "true"
          parameter-overrides: |
            AlertEmail=ychahbounia@gmail.com
            WebEc2InstanceId=i-0bdd3b6dd8e7b1c3c
